absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
boto3==1.20.14
botocore==1.23.14
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.6
clang==5.0
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
cycler==0.11.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
datasets==1.16.1
decorator==5.1.0
dill==0.3.4
docopt==0.6.2
emoji==1.6.3
filelock==2.0.7
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2021.11.1
fuzzywuzzy==0.18.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.43.0
h5py==3.1.0
huggingface-hub==0.2.1
idna==3.2
idna-ssl==1.1.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1631916693255/work
isodate==0.6.0
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
JPype1==1.3.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.6
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
multidict==5.2.0
multiprocess==0.70.12.2
networkx==2.4
nltk==3.6.5
numpy==1.19.5
oauthlib==3.2.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.0
pandas==1.1.5
pathlib==1.0.1
Pillow==8.4.0
pipreqs==0.4.10
portalocker==2.3.2
protobuf==3.19.4
psutil==5.9.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pynvml==11.4.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytorch-transformers==1.1.0
pytz==2017.2
PyYAML==5.4.1
rdflib==5.0.0
regex @ file:///tmp/build/80754af9/regex_1629293472593/work
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.0
sacrebleu==2.0.0
sacremoses==0.0.43
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
six==1.15.0
SPARQLWrapper==1.8.5
stanfordnlp==0.2.0
stanza==1.3.0
sutime==1.0.1
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==2.2.0
tokenizers==0.10.1
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
tqdm==4.62.3
transformers==4.4.2
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.3
wrapt==1.12.1
xxhash==2.0.2
yarg==0.1.9
yarl==1.7.2
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work
